<div
  class="flex items-start min-h-screen bg-gradient-to-br from-slate-700 to-slate-900 pt-40"
>
  <div class="mx-auto w-full max-w-md rounded-2xl bg-white">
    <div class="flex justify-between p-8 rounded">
      <app-step [step]="1" [currentStep]="currentStep"></app-step>
      <app-step [step]="2" [currentStep]="currentStep"></app-step>
      <app-step [step]="3" [currentStep]="currentStep"></app-step>
      <app-step [step]="4" [currentStep]="currentStep"></app-step>
    </div>

    <div class="px-8 pb-8">
      <div>
        <div class="mt-2 h-6 w-40 rounded bg-slate-100"></div>

        <div class="mt-4 space-y-2">
          <div class="h-4 w-5/6 rounded bg-slate-100"></div>
          <div class="h-4 rounded bg-slate-100"></div>
          <div class="h-4 w-4/6 rounded bg-slate-100"></div>
        </div>
      </div>

      <div class="mt-10 flex justify-between">
        <button
          class="rounded px-2 py-1 text-slate-400 hover:text-slate-700"
          (click)="back()"
        >
          Back
        </button>

        <button
          class="bg flex items-center justify-center rounded-full bg-blue-500 py-1.5 px-3.5 font-medium tracking-tight text-white hover:bg-blue-600 active:bg-blue-700"
          [ngClass]="{
            'pointer-events-none opacity-50': isCompleted()
          }"
          [disabled]="isCompleted()"
          (click)="continue()"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
