<div class="p-8">
  <ol class="space-y-3">
    <li>
      <a class="text-blue-600 underline" [routerLink]="['/multistep-wizard']">
        1. Multistep wizard
      </a>
    </li>

    <li>
      <a
        class="text-blue-600 underline"
        [routerLink]="['/radial-gradient-spotlight']"
      >
        2. Radial-gradient spotlight
      </a>
    </li>

    <li>
      <a class="text-blue-600 underline" [routerLink]="['/animated-counter']">
        3. Animated counter
      </a>
    </li>
  </ol>
</div>
